<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AntiGravity 대전 2021</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>
<body>

<div class="container">
    <h1>Anti Gravity 대전 2021</h1>
    
    <h2>7주차 : 리액트</h2>
    
    <h3>강의 #30 - 2021년 12월 24일 (금)</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/659871866?h=4ec33ccda1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #30 - 20211224"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #29 - 2021년 12월 23일 (목)</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/659577395?h=4a414e4708&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #29 - 20211223"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #28 - 2021년 12월 22일 (수)</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/659234400?h=9425d1e41c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1893567939.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #27 - 2021년 12월 21일 (화)</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/658866795?h=1dfb11c46b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1667028983.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #26 - 2021년 12월 20일 (월)</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/658503882?h=84e1846c4f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #26 - 20211220"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h2>6주차 : 장고</h2>

    <h3>강의 #25 - 2021년 12월 17일</h3>
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/657736371?h=2defe90437&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #25 - 20211217"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #24 - 2021년 12월 16일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/657328899?h=b4137067be&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #24 - 20211216"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #23 - 2021년 12월 15일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/656911552?h=914f8d0221&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1725693248.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #22 - 2021년 12월 14일 (복습, 질답)</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/656471640?h=810ac3e60f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1924084545.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #21 - 2021년 12월 13일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/656036176?h=d559218262&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #21 - 20211213"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #20 - 2021년 12월 10일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/655255163?h=ebaf75d482&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1316217334.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #19 - 2021년 12월 9일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/654838559?h=a9dc648e07&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1894410443.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #18 - 2021년 12월 8일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/654423908?h=338ad7b9cc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1236617476.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #17 - 2021년 12월 7일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/654010793?h=610d0b5ad6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity  강의 #17 - 20211207"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #16 - 2021년 12월 6일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/653596367?h=0a4ebc5af3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1369382886.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h2>5주차 : 장고</h2>
    
    <h3>강의 #15 - 2021년 12월 03일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/652782967?h=3b68ef1c43&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #15 - 20211203"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #14 - 2021년 12월 02일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/652366034?h=5a980ce405&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #14 - 2021202"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #13 - 2021년 12월 01일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/651905920?h=7c50e3d1da&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1179470053.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #12 - 2021년 11월 30일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/651446657?h=a25cab35c0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #12 - 20211130"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #11 - 2021년 11월 29일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/651350497?h=c8a585cf01&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #11 - 20211129"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h2>2주차 : 파이썬</h2>

    <h3>강의 #10 - 2021년 11월 12일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/645122440?h=bcc8d17a52&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #10 - 20211112"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #09 - 2021년 11월 11일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/644691535?h=9e2d919f20&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #09 - 20211111"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #08 - 2021년 11월 10일</h3>
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/644256286?h=6315abfc29&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #08 - 20211110"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #07 - 2021년 11월 09일</h3>
    <div style="padding:45% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/643881455?h=4793c07a96&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #07 - 20211109"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #06 - 2021년 11월 08일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/643402717?h=aec9d00f9a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1286900111.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/643404221?h=1070eeed03&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1050970274.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>    

    <h2>1주차 : 파이썬</h2>
    <h3>강의 #05 - 2021년 11월 05일</h3>    
    <div style="padding:42.19% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/642619872?h=43d523b355&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video1775755181.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/643882596?h=35ea268c19&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #05 - 20211105 (2)"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #04 - 2021년 11월 04일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/642238681?h=c9381a52f2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #04 - 20211104"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #03 - 2021년 11월 03일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/641829489?h=e19d59496a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #03 - 20211103"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    
    <h3>강의 #02 - 2021년 11월 02일</h3>
    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/641451640?h=b257b17aea&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #02 - 20211102"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <h3>강의 #01 - 2021년 11월 01일</h3>

    <p class="alert alert-info">
        별도 마이크없이 진행한 터라 사운드 상태가 좋지 않습니다. 영상만 참고로 봐주세요. 2일부터는 마이크 상태가 좋을 것입니다.
    </p>

    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/641086727?h=85293f483b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AntiGravity 강의 #01 - 20211101.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <hr/>

    &copy; 2021
    <a href="https://facebook.com/groups/askdjango" target="_blank">
        Ask Company
    </a>
    |
    <a href="https://github.com/allieus/antigravity-daejeon-2021-heroku" target="_blank">
        본 사이트의 소스코드 저장소
    </a>
</div>

</body>
</html>
